.navbar-logo {
  max-height: 50px;
}


.dropdown-item:hover {
  background-color: var(--theme);
}

.nav-footer, nav.navbar, nav .navbar-container {
  background-image: none;
  background-color: #000000;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--theme);
}

.resourcelist {
  list-style-type: none;
}
.resourceinfo img {
  float: right;
  width: 200px;
}

.star {
  font-size: 1.5em;
  color: grey;
  cursor: pointer;
  user-select: none;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #555555;
}

.star:hover, 
.star:has(+ .star:hover),
.star:has(+ .star + .star:hover),
.star:has(+ .star + .star + .star:hover),
.star:has(+ .star + .star + .star + .star:hover) {
  color: yellow;
  -webkit-text-stroke-color: orange;
}

.star-set .star,
.star-set .star:hover {
  color: grey !important;
  -webkit-text-stroke-color: #555555 !important;
}

.star-set-1 .star:nth-child(1),
.star-set-2 .star:nth-child(1),
.star-set-2 .star:nth-child(2),
.star-set-3 .star:nth-child(1),
.star-set-3 .star:nth-child(2),
.star-set-3 .star:nth-child(3),
.star-set-4 .star:nth-child(1),
.star-set-4 .star:nth-child(2),
.star-set-4 .star:nth-child(3),
.star-set-4 .star:nth-child(4),
.star-set-5 .star {
  color: purple !important;
}

